# Byte-compiled
__pycache__/
*.py[cod]

# Build artifacts
build/
dist/
*.spec.bak
*.egg-info/
.eggs/

# PlatformIO (ESP32 firmware)
.pio/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Deps marker
.deps_installed
otp_profiles/*_U3100_X.json
